@import "tailwindcss";

/* Light Theme (Default) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-500: #03c855;
  --gray-500: #e2e8f0;
}

/* Expose variables to Tailwind's design tokens */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-500: var(--primary-500);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
