@import "tailwindcss";

/* Light Theme (Default) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-500: #03c855;
}

/* Expose variables to Tailwind's design tokens */
@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-500: var(--primary-500);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}

@layer components {
  .container-custom {
    /* @apply max-w-[1320px] mx-auto md:px-20 px-6; */
    @apply max-w-[1320px] mx-auto;
  }
}
/* custom-radio.css */
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #22c55e; /* green-500 */
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px;
  height: 8px;
  background-color: #22c55e; /* green-500 */
  border-radius: 50%;
  transform: translate(-50%, -50%);
}
select option {
  background-color: white;
  color: #374151;
}

select option:checked {
  background: linear-gradient(#10b981, #10b981);
  color: rgb(0, 161, 27);
}

select option:hover {
  background: linear-gradient(#d1fae5, #d1fae5) !important;
  background-color: #d1fae5 !important;
  color: #065f46 !important;
  box-shadow: 0 0 10px 100px #d1fae5 inset !important;
}

/* Additional WebKit specific */
select option:hover:not(:checked) {
  background: #d1fae5 !important;
}
